article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  article #canvas1 {
    order: 1;
    flex-shrink: 1; }
  article #canvas2 {
    order: 3;
    flex-shrink: 2; }
  article #canvas3 {
    order: 2;
    flex-shrink: 0.5; }
  article #Button4 {
    order: 4;
    margin: 15%; }

canvas {
  border-width: 4px;
  border-style: double;
  border-color: black; }
