#header {
  /*applies to the id header*/
  font: 10pt Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-size: 10pt Verdana, Geneva, sans-serif10pt; }

h1 {
  /*applies to the header h1 */
  color: RGB(88 80 80);
  background-color: #cccccc;
  font-variant: small-caps; }

h2:hover {
  /*applies when hovering over Contents*/
  color: antiquewhite; }

html {
  /*applies to all*/
  background-color: white; }

body {
  /*applies to the body*/
  font: 10pt Verdana, Geneva, sans-serif;
  color: black;
  font-size: 10pt; }

.Poetry {
  /*applies to all classes containing word Poetry*/
  background-color: #f2f2f2; }
  .Poetry .Title {
    /*applies to all classes containing word Title*/
    /*property nesting*/
    font-weight: bold;
    font-size: 14pt; }
  .Poetry .Verse {
    /*applies to class Verse*/
    font-style: italic; }

img {
  opacity: 1.0; }

img:hover {
  opacity: 0.5; }

Footer:hover {
  /*applies when hovering over Contents*/
  color: antiquewhite; }

/*.Contents {}*/
:visited {
  color: #b3b3b3; }

:link {
  color: RGB(88 80 80); }

.main {
  margin-left: 160px;
  /* Same as the width of the sidebar */
  padding: 0px 20px; }

.sidenav {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 160px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #e9a74f;
  opacity: 0.8;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding: 20px 10px; }
  .sidenav :visited {
    color: #4d4d4d; }

.positiveButton {
  background-color: RGB(204 255 153); }

.negativeButton {
  background-color: RGB(255 102 102); }

.neutralButton {
  background-image: radial-gradient(yellow, brown); }

.apiReturn {
  border: 5px solid black;
  border-radius: 1em;
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  bottom: 0;
  /* Stay at the top */
  right: 0;
  padding: 10px;
  margin: 20px; }
