table {
  border-collapse: collapse;
  border: 2px solid #c8c8c8;
  letter-spacing: 1px;
  font-size: 0.8rem; }

td, th {
  border: 1px solid #bebebe;
  padding: 10px 20px; }

th {
  background-color: #ebebeb; }

td {
  text-align: center; }

caption {
  padding: 10px; }

#Display-4, #Display-5 {
  border: 1px solid #bebebe;
  padding: 10px 20px; }
