#classic {
  font-family: Arial, Helvetica, sans-serif; }

#fancy {
  font-family: 'Brush Script MT', 'Brush Script Std', 'cursive'; }

#minimal {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
